<template>
  <div class="container">
    <h3>Agregar Nueva Evaluación</h3>
    <!-- Formulario para Ingresar Nuevas Notas -->
    <form>
      <div class="form-inline">
        <input
          id="cedula"
          type="text"
          class="form-control col-sm-2 ml-4 mr-2 text-capitalize"
          maxlength="11"
          placeholder="Cédula Escolar"
        />
        <input
          id="name"
          type="text"
          class="form-control col-sm-3 mr-2 text-capitalize"
          maxlength="40"
          placeholder="Nombres Del Alumno"
        />
        <input
          id="lastname"
          type="text"
          class="form-control mr-2 col-sm-3 text-capitalize"
          maxlength="40"
          placeholder="Apellidos de Alumno"
        />
        <select class="custom-select col-sm-2 mr-2" id="grado">
          <option selected>Grado</option>
          <option value="1">Primero</option>
          <option value="2">Segundo</option>
          <option value="3">Tercero</option>
          <option value="4">Cuarto</option>
          <option value="5">Quinto</option>
          <option value="6">Sexto</option>
        </select>
        <select class="custom-select mr-2" id="seccion">
          <option selected>Sección</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>
        <div class="form-group block full-with ml-4 mt-2">
          <label for=""></label>
          <textarea class="form-control" name="" id="" rows="12"></textarea>
        </div>
        </div>
    </form>
  </div>
</template>


<script>
export default {
  data() {
    return {
      notas: [],
      dismissSecs: 2,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  created() {
    this.consultarnotas();
  },
  methods: {
    consultarnotas() {
      this.axios
        .get("/periodo")
        .then((res) => {
          console.log(res.data);
          this.notas = res.data;
        })
        .catch((e) => {
          console.log(e.response);
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>

<style>
form {
  padding-top: 40px;
}

#boton {
  font-family: Avenir;
  color: azure;
  background-color: #2196f3;
}
</style>
