<template>  
<div id="notas" class="container">
    <h1>Avance Pedagógico</h1>
 <div>
                                      <!-- tabla de consulta de notas -->
            <table class="table table-bordered mt-5" v-for="(item, index) in notas" :key="index">
                  <!--  <caption> Nota Evaluativa</caption> -->
                    <div>
                    <tr>
                    <th>Cedula Escolar del Alumno(a)</th>
                    <th>Nombres del Alumno(a)</th>
                    <th>Apellidos del Alumno(a)</th>
                    <th>Grado Cursante del Alumno(a)</th>
                    <th>Sección del Alumno(a)</th>
                    <th>Año Escolar Cursante</th>
                    </tr>
                    <tr>
                    <td>{{item.cedula}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.apellido}}</td>
                    <td>{{item.grado}}</td>
                    <td>{{item.seccion}}</td>
                    <td>{{item.agnoescolar}}</td>
                    </tr>
                    </div>
                    <tr class="thead-light" >
                    <th>Evaluación del Primer Lapso</th>
                    </tr>
                    <td>{{item.periodo1}}</td>
                    <tr class="thead-light">
                    <th>Evaluacion del Segundo Lapso</th>
                    </tr>
                    <td>{{item.periodo2}}</td>
                    <tr class="thead-light">
                    <th>Evaluacion del Tercer Lapso</th>
                    </tr>
                    <td>{{item.periodo3}}</td>
            </table>
        </div>
    </div>
</template>

<script>
 export default {
    data(){
        return{
            notas:[],
            dismissSecs: 2,
            dismissCountDown: 0,
            showDismissibleAlert: false
        }
    },
    created(){
        this.consultarnotas();

    },
    methods: {
        consultarnotas(){
            this.axios.get('/periodo')
            .then(res => {
                console.log(res.data);
                this.notas = res.data;
            })
            .catch(e => {
                console.log(e.response);
            })
        },
        countDownChanged(dismissCountDown) {
        this.dismissCountDown = dismissCountDown
        },
        showAlert() {
        this.dismissCountDown = this.dismissSecs
      }
    }
} 
</script>

<style>

h1{
    padding-top: 10px;
    padding-bottom: 10px;
}

caption{
    font-weight: bold;
    caption-side: top;
    padding-top: 10px;
    padding-bottom: 10px;
    color: azure;
    text-align: center;
    background: #2196f3;

}

#notas{
    margin-top: 10px;
}

table{
    padding-top: 5px;
    padding-bottom: 5px;
}
th{ 
    background-color: #2196f3;
    color: azure;
}
</style>
